@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

h2, span, p {
  --tw-text-opacity: 1;
  color: rgb(26 32 44 / var(--tw-text-opacity));
}

.scrollbarstyle::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}

.scrollbarstyle::-webkit-scrollbar-thumb {
  background: #CFD8DC;
  border-radius: 9999px;
}

.border_welcome_top {
border-radius: 100% 0% 34% 66% / 37% 97% 3% 63% 
}
.border_welcome_bottom_status_trip {
border-radius: 38% 62% 100% 0% / 4% 52% 48% 96% 
}

.border_welcome_bottom {
  border-radius: 35% 65% 45% 55% / 46% 42% 58% 54% 
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}

.slick-slider, .slick-list, .slick-track, .slick-slide > div {
  height: 100%;
}

.scroll_invitation::-webkit-scrollbar {
  width: 4px;
}
 
.scroll_invitation::-webkit-scrollbar-thumb {
  background: #9999; 
  border-radius: 0.375rem
}

.skeleton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #DDDBDD;
}

.skeleton::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
