@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

h2, span, p {
  --tw-text-opacity: 1;
  color: rgb(26 32 44 / var(--tw-text-opacity));
}

.dropdown::-webkit-scrollbar {
    width: 6px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: #CFD8DC;
  border-radius: 9999px;
}